APP_NAME="harvesting.food API"

ACCESS_TOKEN_EXPIRE_MINUTES=30

CORS_ORIGINS='["http://example.com","www.example.food"]'

ENVIRONMENT="development"

HASH_ALGORITHM="HS256"

INITIAL_USER_NAME="admin"
INITIAL_USER_MAIL="admin@example.com"
INITIAL_USER_PASS="SOME STRONG PASSWORD"

LOG_LEVEL="INFO"
LOG_NAME="harvestLogs"
LOG_ACCESS_NAME="harvestAccessLogs"
LOG_JSON_FORMAT=false

POSTGRES_DB=harvestdb
POSTGRES_HOST="postgres_db"
POSTGRES_PASS=postgres
POSTGRES_PORT="5432"
POSTGRES_USER=postgres

SECRET_KEY="A LONG, RANDOM SECRET KEY"

SITE_EMAIL="admin@example.com"
